// Colors
$white: #FFFFFF;
$black: #1A212F;
$orange: #FF7236;
$yellow: #FAC663;
$grey: #E1E1E1;

// Размеры

$header-height: 71px;

// Размеры
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$tablet-widths-only: "max-width: 1199px";
$desktop-widths: "min-width: 1200px";
